name: Build Release

on:
  workflow_dispatch:
  push:
    tags:
      - 'Release*'

permissions:
  contents: write

jobs:
  Build:
    name: Release APK
    runs-on: ubuntu-latest
    steps:
      # https://github.com/marketplace/actions/checkout
      - uses: actions/checkout@v3

      # 设置 JDK
      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: gradle

      - name: Get Tag
        id: var
        #run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}
        run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT

      - name: Build APK
        run: bash ./gradlew assembleRelease

      # https://github.com/marketplace/actions/sign-android-release
      - name: Sign APK
        id: sign_apk
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      # https://github.com/marketplace/actions/auto-changelog
      # require commit format are "type(category): description [flag]"
      - name: Make Changelog
        uses: ardalanamini/auto-changelog@v4
        id  : changelog
        with:
          github-token            : ${{ github.token }}
          commit-types            : |
            feat: New Features
            fix: Bug Fixes
            build: Build System & Dependencies
            perf: Performance Improvements
            docs: Documentation
            test: Tests
            refactor: Refactors
            chore: Chores
            ci: CI
            style: Code Style
            revert: Reverts
          default-commit-type     : Other Changes
          release-name            : v1.0.0
          release-name-prefix     : ""
          mention-authors         : true
          mention-new-contributors: true
          include-compare-link    : true
          include-pr-lints        : true
          include-commit-lints    : true
          semver                  : true
          use-github-autolink     : true

      # https://github.com/marketplace/actions/gh-release
      - name: Release APK
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          token: ${{ github.token }}
          body: ${{ steps.changelog.outputs.changelog }}
          prerelease: false
          files: ${{steps.sign_apk.outputs.signedReleaseFile}}
